/build
/lake-packages
/.lake
*.olean
*.log
*.js
*.aux
*.out
*.fls
*.fdb_latexmk
*.woff
.DS_Store
README.md
docs/functional_rev-3.pdf
README.html
docs/functional-lean.pdf
README_files/libs/bootstrap/bootstrap-973236bd072d72a04ee9cd82dcc9cb29.min.css
.gitignore
README_files/libs/bootstrap/bootstrap-icons.css
README_files/libs/quarto-html/quarto-syntax-highlighting-549806ee2085284f45b00abea8c6df48.css
README_files/libs/quarto-html/tippy.css
docs/functional.pdf
docs/functional.tex
